@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css or src/styles.css */
html {
  transition: background-color 0.3s ease;
}

html.dark {
  background-color: #1a202c; /* Dark background for the entire app */
}



/* Your other global styles */
